<?xml version="1.0"?>
<configuration>
	<configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>     
		<sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>        
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
 </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Log4Net.xml"/>
      </factoryAdapter>
    </logging>
  </common>  
	<spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />      
    </parsers>     
		<context>
      <resource uri="~/spring.xml"/>
      <!-- <resource uri="config://spring/objects"/> -->
		</context>
  </spring>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.1.4000" newVersion="1.2.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
