<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
 </configSections>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<description>Spring IOC configuration.</description>
			<object name="UIController" type="edu.uwec.cs.cs355.group4.et.ui.DefaultUIController, ElectionTracker" singleton="true">
				<property name="MDIForm" ref="MDIForm"/>
			</object>
			<object name="SessionFactory" type="edu.uwec.cs.cs355.group4.et.db.HibernateUtil, ElectionTracker" singleton="true" factory-method="makeSessionFactory"/>
			<object name="ElectionDAO" type="edu.uwec.cs.cs355.group4.et.db.ElectionDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="PoliticalPartyDAO" type="edu.uwec.cs.cs355.group4.et.db.PoliticalPartyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="CandidateDAO" type="edu.uwec.cs.cs355.group4.et.db.CandidateDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="ContestTypeDAO" type="edu.uwec.cs.cs355.group4.et.db.ContestTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="ContestDAO" type="edu.uwec.cs.cs355.group4.et.db.ContestDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="CountyDAO" type="edu.uwec.cs.cs355.group4.et.db.CountyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="ResponseValueDAO" type="edu.uwec.cs.cs355.group4.et.db.ResponseValueDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="AttributeTypeDAO" type="edu.uwec.cs.cs355.group4.et.db.AttributeTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="PhoneNumberTypeDAO" type="edu.uwec.cs.cs355.group4.et.db.PhoneNumberTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="ElectionContestDAO" type="edu.uwec.cs.cs355.group4.et.db.ElectionContestDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="ResponseDAO" type="edu.uwec.cs.cs355.group4.et.db.ResponseDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="ContestCountyDAO" type="edu.uwec.cs.cs355.group4.et.db.ContestCountyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
			<object name="MDIForm" type="edu.uwec.cs.cs355.group4.et.UI.MDIForm, ElectionTracker" singleton="true" autowire="autodetect">
				<property name="Filters">
					<list element-type="edu.uwec.cs.cs355.group4.et.ui.util.TreeViewFilter, ElectionTracker">
						<ref object="ActiveElectionFilter"/>
						<ref object="InactiveElectionFilter"/>
						<ref object="CountyFilter"/>
						<ref object="ActiveCandidateFilter"/>
						<ref object="InactiveCandidateFilter"/>
						<ref object="ActiveContestFilter"/>
						<ref object="InactiveContestFilter"/>
						<ref object="ActivePoliticalPartyFilter"/>
						<ref object="InactivePoliticalPartyFilter"/>
						<ref object="EverythingActive"/>
					</list>
				</property>
			</object>
			<object name="ActiveElectionFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ElectionFilter, ElectionTracker" singleton="true" autowire="autodetect">
				<constructor-arg name="dao" ref="ElectionDAO"/>
				<constructor-arg name="isActive" value="true"/>
			</object>
			<object name="InactiveElectionFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ElectionFilter, ElectionTracker" singleton="true" autowire="autodetect">
				<constructor-arg name="dao" ref="ElectionDAO"/>
				<constructor-arg name="isActive" value="false"/>
			</object>
			<object name="ActivePoliticalPartyFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ActivePoliticalPartyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
			<object name="InactivePoliticalPartyFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.InactivePoliticalPartyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
			<object name="CountyFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.CountyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
			<object name="ActiveCandidateFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ActiveCandidateFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
			<object name="InactiveContestFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.InactiveContestFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
			<object name="ActiveContestFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ActiveContestFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
			<object name="InactiveCandidateFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.InactiveCandidateFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
			<object name="EverythingActive" type="edu.uwec.cs.cs355.group4.et.ui.util.CompositeFilter, ElectionTracker" singleton="true" autowire="autodetect">
				<constructor-arg name="name" value="Everything - Active"/>
				<constructor-arg name="members">
					<list element-type="edu.uwec.cs.cs355.group4.et.ui.util.TreeViewFilter, ElectionTracker">
						<ref object="ActiveElectionFilter"/>
						<ref object="CountyFilter"/>
						<ref object="ActiveCandidateFilter"/>
						<ref object="ActiveContestFilter"/>
						<ref object="ActivePoliticalPartyFilter"/>
					</list>
				</constructor-arg>
			</object>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmEnterVotes" type="edu.uwec.cs.cs355.group4.et.ui.frmEnterVotes, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmElection" type="edu.uwec.cs.cs355.group4.et.ui.frmElection, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmCounty" type="edu.uwec.cs.cs355.group4.et.ui.frmCounty, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmCandidate" type="edu.uwec.cs.cs355.group4.et.ui.frmCandidate, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmContest" type="edu.uwec.cs.cs355.group4.et.ui.frmContest, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmPoliticalParty" type="edu.uwec.cs.cs355.group4.et.ui.frmPoliticalParty, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmElectionReport" type="edu.uwec.cs.cs355.group4.et.ui.frmElectionReport, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmProofingSheet" type="edu.uwec.cs.cs355.group4.et.ui.frmProofingSheet, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmCountyContactForm" type="edu.uwec.cs.cs355.group4.et.ui.frmCountyContactForm, ElectionTracker" autowire="constructor" singleton="false"/>
			<object name="edu.uwec.cs.cs355.group4.et.ui.frmContestVoteSumry" type="edu.uwec.cs.cs355.group4.et.ui.frmContestVoteSumry, ElectionTracker" autowire="constructor" singleton="false"/>
		</objects>
	</spring>
	<nhibernate>
		<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
		<add key="hibernate.dialect" value="NHibernate.Dialect.MySQLDialect"/>
		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
		<add key="hibernate.connection.connection_string" value="Server=stef.cs.uwec.edu;database=degenst;uid=DEGENST;pwd=D6215;"/>
	</nhibernate>
	<log4net debug="true">
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/et.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<DatePattern value="yyyy.MM.dd="/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<appender name="NHibernateFileLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/nhibernate.log"/>
			<appendToFile value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy.MM.dd"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<appender name="SpringFileLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/spring.log"/>
			<appendToFile value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy.MM.dd"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<appender name="DataLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/data.log"/>
			<appendToFile value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy.MM.dd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		<!-- Set default logging level to DEBUG -->
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="GeneralLog"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
		<!-- Set logging for Spring to INFO.  Logger names in Spring correspond to the namespace -->
		<logger name="Spring">
			<level value="INFO"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="GeneralLog"/>
		</logger>
		<logger name="NHibernate" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="NHibernateFileLog"/>
		</logger>
		<logger name="Pushable.Data" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="DataLog"/>
		</logger>
	</log4net>
</configuration>
