<?xml version="1.0"?>
<configuration>
	<configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>     
		<sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>        
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <!-- <section name="objects" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/> -->
    </sectionGroup>
 </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Log4Net.xml"/>
      </factoryAdapter>
    </logging>
  </common>  
	<spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
    </parsers>     
		<context name="et">
      <context>
        <resource uri="~/spring.xml"/>
        <!-- <resource uri="config://spring/objects"/> -->
      </context>
		</context>
    <!--
    <objects xmlns="http://www.springframework.net"
                  xmlns:db="http://www.springframework.net/database">
      <description>Spring Configuration</description>
      
      <db:provider id="DbProvider"
                       provider="MySql"
                       connectionString="Server=localhost;database=degenst;uid=root;pwd=password;"/>

      
      <object id="SessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate12">
        <property name="DbProvider" ref="DbProvider"/>
        <property name="MappingAssemblies">
          <list>
            <value>ElectionTracker</value>
          </list>
        </property>
        <property name="HibernateProperties">
          <dictionary>

            <entry key="hibernate.connection.provider"
                   value="NHibernate.Connection.DriverConnectionProvider"/>

            <entry key="hibernate.dialect"
                   value="NHibernate.Dialect.MySQLDialect"/>

            <entry key="hibernate.connection.driver_class"
                   value="NHibernate.Driver.MySqlDataDriver"/>

          </dictionary>
        </property>

      </object>

      <object name="ElectionDAO" type="edu.uwec.cs.cs355.group4.et.db.ElectionDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="PoliticalPartyDAO" type="edu.uwec.cs.cs355.group4.et.db.PoliticalPartyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="CandidateDAO" type="edu.uwec.cs.cs355.group4.et.db.CandidateDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="ContestTypeDAO" type="edu.uwec.cs.cs355.group4.et.db.ContestTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="ContestDAO" type="edu.uwec.cs.cs355.group4.et.db.ContestDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="CountyDAO" type="edu.uwec.cs.cs355.group4.et.db.CountyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="ResponseValueDAO" type="edu.uwec.cs.cs355.group4.et.db.ResponseValueDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="AttributeTypeDAO" type="edu.uwec.cs.cs355.group4.et.db.AttributeTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="PhoneNumberTypeDAO" type="edu.uwec.cs.cs355.group4.et.db.PhoneNumberTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="ElectionContestDAO" type="edu.uwec.cs.cs355.group4.et.db.ElectionContestDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="ResponseDAO" type="edu.uwec.cs.cs355.group4.et.db.ResponseDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
      <object name="ContestCountyDAO" type="edu.uwec.cs.cs355.group4.et.db.ContestCountyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>


      <object name="UIController" type="edu.uwec.cs.cs355.group4.et.ui.DefaultUIController, ElectionTracker" singleton="true">
        <property name="MDIForm" ref="MDIForm"/>
      </object>
      <object name="MDIForm" type="edu.uwec.cs.cs355.group4.et.UI.MDIForm, ElectionTracker" singleton="true" autowire="autodetect">
        <property name="Filters">
          <list element-type="edu.uwec.cs.cs355.group4.et.ui.util.TreeViewFilter, ElectionTracker">
            <ref object="ActiveElectionFilter"/>
            <ref object="InactiveElectionFilter"/>
            <ref object="CountyFilter"/>
            <ref object="ActiveCandidateFilter"/>
            <ref object="InactiveCandidateFilter"/>
            <ref object="ActiveContestFilter"/>
            <ref object="InactiveContestFilter"/>
            <ref object="ActivePoliticalPartyFilter"/>
            <ref object="InactivePoliticalPartyFilter"/>
            <ref object="EverythingActive"/> 
          </list>
        </property>
      </object>
      <object name="ActiveElectionFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ElectionFilter, ElectionTracker" singleton="true" autowire="autodetect">
        <constructor-arg name="dao" ref="ElectionDAO"/>
        <constructor-arg name="isActive" value="true"/>
      </object>
      <object name="InactiveElectionFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ElectionFilter, ElectionTracker" singleton="true" autowire="autodetect">
        <constructor-arg name="dao" ref="ElectionDAO"/>
        <constructor-arg name="isActive" value="false"/>
      </object>
      <object name="ActivePoliticalPartyFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ActivePoliticalPartyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
      <object name="InactivePoliticalPartyFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.InactivePoliticalPartyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
      <object name="CountyFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.CountyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
      <object name="ActiveCandidateFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ActiveCandidateFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
      <object name="InactiveContestFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.InactiveContestFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
      <object name="ActiveContestFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.ActiveContestFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
      <object name="InactiveCandidateFilter" type="edu.uwec.cs.cs355.group4.et.ui.util.InactiveCandidateFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
      
  <object name="EverythingActive" type="edu.uwec.cs.cs355.group4.et.ui.util.CompositeFilter, ElectionTracker" singleton="true" autowire="autodetect">
    <constructor-arg name="name" value="Everything - Active"/>
    <constructor-arg name="members">
      <list element-type="edu.uwec.cs.cs355.group4.et.ui.util.TreeViewFilter, ElectionTracker">
        <ref object="ActiveElectionFilter"/>
        <ref object="CountyFilter"/>
        <ref object="ActiveCandidateFilter"/>
        <ref object="ActiveContestFilter"/>
        <ref object="ActivePoliticalPartyFilter"/>
      </list>
    </constructor-arg>
  </object>
  
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmEnterVotes" type="edu.uwec.cs.cs355.group4.et.ui.frmEnterVotes, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmElection" type="edu.uwec.cs.cs355.group4.et.ui.frmElection, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmCounty" type="edu.uwec.cs.cs355.group4.et.ui.frmCounty, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmCandidate" type="edu.uwec.cs.cs355.group4.et.ui.frmCandidate, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmContest" type="edu.uwec.cs.cs355.group4.et.ui.frmContest, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmPoliticalParty" type="edu.uwec.cs.cs355.group4.et.ui.frmPoliticalParty, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmElectionReport" type="edu.uwec.cs.cs355.group4.et.ui.frmElectionReport, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmProofingSheet" type="edu.uwec.cs.cs355.group4.et.ui.frmProofingSheet, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmCountyContactForm" type="edu.uwec.cs.cs355.group4.et.ui.frmCountyContactForm, ElectionTracker" autowire="constructor" singleton="false"/>
      <object name="edu.uwec.cs.cs355.group4.et.ui.frmContestVoteSumry" type="edu.uwec.cs.cs355.group4.et.ui.frmContestVoteSumry, ElectionTracker" autowire="constructor" singleton="false"/>
    </objects>
    -->
  </spring>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.1.4000" newVersion="1.2.1.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
