<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:tx="http://www.springframework.net/tx">

    <description>Spring Configuration</description>
	<!-- Property placeholder configurer for database settings -->
	<object type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
		<property name="ConfigSections" value="databaseSettings"/>
	</object>

  <object id="HibernateTransactionManager" type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate12">
    <property name="DbProvider" ref="DbProvider"/>
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="HibernateTemplate" type="Spring.Data.NHibernate.Generic.HibernateTemplate, Spring.Data.NHibernate12">
    <property name="SessionFactory" ref="SessionFactory"/>
    <property name="TemplateFlushMode" value="Auto"/>
    <property name="CacheQueries" value="true"/>
  </object>
  <!-- Database and NHibernate Configuration -->
  <db:provider id="DbProvider" provider="MySql" connectionString="Server=localhost;database=electiontracker;uid=root;pwd=password;"/>
  <object id="SessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate12">
    <property name="DbProvider" ref="DbProvider"/>
    <!--<property name="ExposeTransactionAwareSessionFactory" value="true"/> -->
    <property name="MappingAssemblies">
      <list>
        <value>ElectionTracker</value>
      </list>
    </property>
    <property name="HibernateProperties">
      <dictionary>
        <entry key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
        <entry key="hibernate.dialect" value="NHibernate.Dialect.MySQLDialect"/>
        <entry key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
        <entry key="hibernate.current_session_context_class" value="Spring.Data.NHibernate.SpringSessionContext, Spring.Data.NHibernate12"/>
      </dictionary>
    </property>
  </object>

  <tx:attribute-driven transaction-manager="HibernateTransactionManager" proxy-target-type="false"/>

  <object name="LoadElectionForUI" type="KnightRider.ElectionTracker.db.task.LoadElectionForUI, ElectionTracker" autowire="no" singleton="true"/>
  <object name="LoadCountyForUI" type="KnightRider.ElectionTracker.db.task.LoadCountyForUI, ElectionTracker" autowire="no" singleton="true"/>
  <object name="LoadElectionForReport" type="KnightRider.ElectionTracker.db.task.LoadElectionForReport, ElectionTracker" autowire="no" singleton="true"/>
  <object name="LoadElectionForReportWithResults" type="KnightRider.ElectionTracker.db.task.LoadElectionForReportWithResults, ElectionTracker" autowire="no" singleton="true"/>

  <object name="ElectionDAO" type="KnightRider.ElectionTracker.db.ElectionDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="PoliticalPartyDAO" type="KnightRider.ElectionTracker.db.PoliticalPartyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="CandidateDAO" type="KnightRider.ElectionTracker.db.CandidateDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="ContestDAO" type="KnightRider.ElectionTracker.db.ContestDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="CountyDAO" type="KnightRider.ElectionTracker.db.CountyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="ResponseValueDAO" type="KnightRider.ElectionTracker.db.ResponseValueDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="AttributeTypeDAO" type="KnightRider.ElectionTracker.db.AttributeTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="PhoneNumberTypeDAO" type="KnightRider.ElectionTracker.db.PhoneNumberTypeDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="ElectionContestDAO" type="KnightRider.ElectionTracker.db.ElectionContestDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="ResponseDAO" type="KnightRider.ElectionTracker.db.ResponseDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="ContestCountyDAO" type="KnightRider.ElectionTracker.db.ContestCountyDAO, ElectionTracker" autowire="autodetect" singleton="true"/>
  <object name="UIController" type="KnightRider.ElectionTracker.ui.DefaultUIController, ElectionTracker" singleton="true">
    <property name="MDIForm" ref="MDIForm"/>
  </object>
  <object name="MDIForm" type="KnightRider.ElectionTracker.UI.MDIForm, ElectionTracker" singleton="true" autowire="autodetect">
    <property name="Filters">
      <list element-type="KnightRider.ElectionTracker.ui.util.TreeViewFilter, ElectionTracker">
        <ref object="ActiveElectionFilter"/> 
        <ref object="InactiveElectionFilter"/>
        <ref object="CountyFilter"/>
        <ref object="ActiveCandidateFilter"/>
        <ref object="InactiveCandidateFilter"/>
        <ref object="ActiveContestFilter"/>
        <ref object="InactiveContestFilter"/>
        <ref object="ActivePoliticalPartyFilter"/>
        <ref object="InactivePoliticalPartyFilter"/>
        <!-- <ref object="EverythingActive"/> -->
      </list>
    </property>
  </object>
  <object name="ActiveElectionFilter" type="KnightRider.ElectionTracker.ui.util.ElectionFilter, ElectionTracker" singleton="true" autowire="no">
    <constructor-arg name="dao" ref="ElectionDAO"/>
    <constructor-arg name="isActive" value="true"/>
  </object>
  <object name="InactiveElectionFilter" type="KnightRider.ElectionTracker.ui.util.ElectionFilter, ElectionTracker" singleton="true" autowire="autodetect">
    <constructor-arg name="dao" ref="ElectionDAO"/>
    <constructor-arg name="isActive" value="false"/>
  </object>
  <object name="ActivePoliticalPartyFilter" type="KnightRider.ElectionTracker.ui.util.ActivePoliticalPartyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
  <object name="InactivePoliticalPartyFilter" type="KnightRider.ElectionTracker.ui.util.InactivePoliticalPartyFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
  <object name="CountyFilter" type="KnightRider.ElectionTracker.ui.util.CountyFilter, ElectionTracker" singleton="true" autowire="no">
    <constructor-arg name="dao" ref="CountyDAO"/>
  </object>
  <object name="ActiveCandidateFilter" type="KnightRider.ElectionTracker.ui.util.ActiveCandidateFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
  <object name="InactiveContestFilter" type="KnightRider.ElectionTracker.ui.util.InactiveContestFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
  <object name="ActiveContestFilter" type="KnightRider.ElectionTracker.ui.util.ActiveContestFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
  <object name="InactiveCandidateFilter" type="KnightRider.ElectionTracker.ui.util.InactiveCandidateFilter, ElectionTracker" singleton="true" autowire="autodetect"/>
  <!--
  <object name="EverythingActive" type="KnightRider.ElectionTracker.ui.util.CompositeFilter, ElectionTracker" singleton="true" autowire="autodetect">
    <constructor-arg name="name" value="Everything - Active"/>
    <constructor-arg name="members">
      <list element-type="KnightRider.ElectionTracker.ui.util.TreeViewFilter, ElectionTracker">
        <ref object="ActiveElectionFilter"/>
        <ref object="CountyFilter"/>
        <ref object="ActiveCandidateFilter"/>
        <ref object="ActiveContestFilter"/>
        <ref object="ActivePoliticalPartyFilter"/>
      </list>
    </constructor-arg>
  </object>
  -->
  <object name="KnightRider.ElectionTracker.ui.frmEnterVotes" type="KnightRider.ElectionTracker.ui.frmEnterVotes, ElectionTracker" autowire="constructor" singleton="false"/>
  <object name="KnightRider.ElectionTracker.ui.frmElection" type="KnightRider.ElectionTracker.ui.frmElection, ElectionTracker" autowire="no" singleton="false">
    <constructor-arg name="electionDAO" ref="ElectionDAO"/>
    <constructor-arg name="contestDAO" ref="ContestDAO"/>
    <constructor-arg name="candidateDAO" ref="CandidateDAO"/>
    <constructor-arg name="countyDAO" ref="CountyDAO"/>
  </object>
  <object name="KnightRider.ElectionTracker.ui.frmCounty" type="KnightRider.ElectionTracker.ui.frmCounty, ElectionTracker" autowire="constructor" singleton="false"/>
  <object name="KnightRider.ElectionTracker.ui.frmCandidate" type="KnightRider.ElectionTracker.ui.frmCandidate, ElectionTracker" autowire="constructor" singleton="false"/>
  <object name="KnightRider.ElectionTracker.ui.frmContest" type="KnightRider.ElectionTracker.ui.frmContest, ElectionTracker" autowire="constructor" singleton="false"/>
  <object name="KnightRider.ElectionTracker.ui.frmPoliticalParty" type="KnightRider.ElectionTracker.ui.frmPoliticalParty, ElectionTracker" autowire="constructor" singleton="false"/>

  <object name="KnightRider.ElectionTracker.ui.frmCountyContactForm" type="KnightRider.ElectionTracker.ui.frmCountyContactForm, ElectionTracker" autowire="constructor" singleton="false"/>
  <object name="KnightRider.ElectionTracker.ui.frmElectionReport" type="KnightRider.ElectionTracker.ui.frmElectionReport, ElectionTracker" autowire="no" singleton="false">
    <constructor-arg name="electionDAO" ref="ElectionDAO"/>
    <constructor-arg name="loadTask" ref="LoadElectionForReport"/>
  </object>
  <object name="KnightRider.ElectionTracker.ui.frmProofingSheet" type="KnightRider.ElectionTracker.ui.frmProofingSheet, ElectionTracker" autowire="no" singleton="false">
    <constructor-arg name="electionDAO" ref="ElectionDAO"/>
    <constructor-arg name="loadTask" ref="LoadElectionForReport"/>
  </object>
  <object name="KnightRider.ElectionTracker.ui.frmContestVoteSummary" type="KnightRider.ElectionTracker.ui.frmContestVoteSummary, ElectionTracker" autowire="no" singleton="false">
    <constructor-arg name="electionDAO" ref="ElectionDAO"/>
    <constructor-arg name="loadTask" ref="LoadElectionForReportWithResults"/>
  </object>
</objects>
